# Apple env files
*.DS_Store
.AppleDouble
.LSOverride


#sftp-config.json

# Windows shortcuts
*.lnk

# ecs specific
*_debug*
*playbook*/

./config.yaml

###< IDE specific ###
.idea/*
!webServers.xml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/sftp.json
!.vscode/extensions.json
*.code-workspace
.vs/

symfony-boilerplate/
