# Apple env files
*.DS_Store
.AppleDouble
.LSOverride

# Windows shortcuts
*.lnk

# ecs specific
*_debug*
*playbook*/

#vagrant
/.vagrant/
/config.yaml

###< IDE specific ###
.idea/*
!.idea/webServers.xml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
*.code-workspace

.vs/
symfony-boilerplate/
