
{% include "@fo/components/category-tile.html.twig" %}

{#TODO: header#}
Mettre ici un composant générique de header pour une catégorie
- Si possible créer une variable titre et une description qu'on injecte en fonction de la page
<a href="https://xd.adobe.com/view/1d9ef851-4175-43c0-6390-3b395343acc4-6baf/screen/bf3a616a-6826-4859-9de1-831069e29f6d/Catalogue-DIY"></a>
