<footer>
    <div class="thirdWidth center">
        <ul>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Utilisations des données</a></li>
            <li><a href="#">DIY</a></li>
        </ul>
    </div>
    <div class="thirdWidth center footer_logo">
        <h1>Eco<br/>service</h1>
    </div>
    <div class="thirdWidth center">
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Espace pro</a></li>
            <li><a href="#">Produits</a></li>
        </ul>
    </div>
</footer>