<section class="adress_choice">
    <div class="adress_border">
        <div class="adress_title">
            <h3 class="pop-sBold">Adresses de livraison</h3>
        </div>
        <div class="adress_list">
            <form>
                <div class="adress_item flexStart">
                    <input type="radio" name="adress">
                    <label for="adress" class="pop">Chapelle Alexandre - 19 rue de l'abbé BOISARD - Lyon, 69007</label>
                </div>
                <div class="adress_item flexStart">
                    <input type="radio" name="adress">
                    <label for="adress" class="pop">Chapelle Alexandre - 19 rue de l'abbé BOISARD - Lyon, 69007</label>
                </div>
            </form>
        </div>
    </div>
    <div class="panier_space flexStart address_button">
        <div class="fullCenter button pop">
            <a class="add_address" href="#">+ Ajouter une adresse</a>
        </div>
    </div>
    <div class="panier_space flexEnd address_button">
        <div class="fullCenter button pop resetMargin">
            <a class="continue" href="#">Continuer</a>
        </div>
    </div>
</section>