<section class="adressUpdate pop">
    <form>
        <div class="nameAndFirst">
            <div class="form_item">
                <label for="name">Nom :</label>
                <input placeholder="Nom" type="text" name="name">
            </div>
            <div class="form_item secondItem">
                <label for="firstname">Prénom :</label>
                <input placeholder="Prénom" type="text" name="firstname">
            </div>
        </div>

        <div class="form_item">
            <label for="adress1">Adresse 1 :</label>
            <input placeholder="Adresse ligne 1" type="text" name="adress1">
        </div>

        <div class="form_item">
            <label for="adress2">Adresse 2 :</label>
            <input placeholder="Adresse ligne 2" type="text" name="adress2">
        </div>

        <div class="form_item">
            <label for="city">Ville :</label>
            <input placeholder="Ville" type="text" name="city">
        </div>

        <div class="form_item">
            <label for="cp">Code Postal :</label>
            <input placeholder="Code postal" type="text" name="cp">
        </div>

        <div class="form_item">
            <label for="country">Pays ou DOM-TOM :</label>
            <input placeholder="Pays ou DOM-TOM" type="text" name="country">
        </div>

        <div class="form_item">
            <label for="tel">Numéro de téléphone :</label>
            <input placeholder="Téléphone" type="text" name="tel">
        </div>
    </form>

    <div class="panier_space flexStart add_adressUpdate">
        <div class="fullCenter button pop">
            <a class="add_adress" href="#">+ Ajouter cette adresse</a>
        </div>
    </div>
</section>