<section class="confirm">
    <div class="centerBox">
        <p class="pop-sBold">Merci pour votre achat</p>
    </div>
    <div class="panier_space flexEnd accueil_return">
        <div class="fullCenter button pop resetMargin">
            <a class="continue" href="#">Retour à l'accueil</a>
        </div>
    </div>
</section>