<section class="paiement">
    <h2 class="pop-sBold title_paiement">Modes de paiement</h2>
    <table>
        <thead>
            <tr>
                <th class="leftTh pop-sBold">Compte PayPal</th>
                <th class="rightTh pop-sBold">Nom du titulaire du compte</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="center">
                    <input type="radio" name="comptepaypal">
                    <label for="comptepaypal" class="pop">Compte PayPal</label>
                </td>
                <td class="rightTd pop">
                    <h3>Alex</h3>
                </td>

            <tr>
                <td class="center">
                    <input type="radio" name="comptepaypal">
                    <label for="comptepaypal" class="pop">Compte PayPal</label>
                </td>
                <td class="rightTd pop">
                    <h3>Alex</h3>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="panier_space flexStart compte_button">
        <div class="fullCenter button pop">
            <a class="add_compte" href="#">+ Ajouter un compte</a>
        </div>
    </div>
    <div class="panier_space flexEnd compte_button">
        <div class="fullCenter button pop resetMargin">
            <a class="continue" href="#">Continuer</a>
        </div>
    </div>
</section>