{#TODO FRONT create a tile for a cms page with / used for a product / cms page #}
{# SHOW
    - titre
    - description
    - button "en savoir plus"
#}

<div class="green-top-page">
    <h1 class="gel-bold">Catégorie</h1>
    <p class="gel">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ligula tellus, varius eu velit eu, pellentesque fringilla urna. </p>
</div>