{#TODO: Put here the list of cms pages not sorted.#}
<h1>Page Cms</h1>
Le but des pages cms est de pouvoir les mettre où l'on veut dans nos menu (header, footer).
Ce template est générique et va servir par exemple pour la page zéro déchet