<h1>Bonjour {{ User }},</h1>
<h3>Nous vous remercions pour l'achat effectuer sur le site ecoservice.com.</h3>
<h3>Pour un prix total de {{ PriceTotal }}€</h3>
<h3>Les informations sur les details de la livraison serons envoyer par mail.</h3>
<h3>Cordialement</h3>
<h3>ecoservice.com</h3>
