// Gelasio
@font-face {
  font-family: "Gelasio Bold";
  src: url("../../font/Gelasio/Gelasio-Bold.ttf");
}

@font-face {
  font-family: "Gelasio SemiBold";
  src: url("../../font/Gelasio/Gelasio-SemiBold.ttf");
}

.gel-bold{
  font-family: "Gelasio Bold";
}

.gel-sBold{
  font-family: "Gelasio SemiBold";
}


// Poppins
@font-face {
  font-family: "Poppins Regular";
  src: url("../../font/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../../font/Poppins/Poppins-Regular.ttf");
}

.pop{
  font-family: "Poppins Regular";
}

.pop-bold{
  font-family: "Poppins Bold";
}

// Segoe UI
@font-face {
  font-family: "Segoe UI";
  src: url("../../font/Segoe UI/Segoe-UI.ttf");
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("../../font/Segoe UI/Segoe-UI-Bold.ttf");
}

.serge{
  font-family: "Segoe UI";
}

.serge-bold{
  font-family: "Segoe UI Bold";
}