//Colors
$darkGreen: #525E36;
$lightGreen: #D2D9B9;
$lightGrey: #F1F1F3;
$darkGrey: #707070;
$dark: #3D3D3D;
$white: #fff;

//Font-size
$f77: 4rem;
$f50: 50px;
$f40: 40px;
$f30: 30px;

//line-height
$inter80: 80px;

//Padding
$basicPadding: 32px;