.container-account{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  .container-info{
    @media (max-width: 767px){
      width: 100%;
    }
    @media (min-width: 768px){
      width: 60%;
    }
    padding: 30px;
    h1{
      color: $darkGreen;
      font-size: 2rem;
      margin-bottom: 15px;
    }
    .btn-contain{
      margin: 15px 0;
      display:flex;
      justify-content: flex-start;
    }
    .content-account{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      p{
        color: $dark;
        font-size: 1.2rem;
        width: 50%;
        margin: 10px 0;
      }
    }
    a{
      font-size: 1.2rem;
      margin-right: 20px;
      padding: 10px;
      border: 2px solid $darkGreen;
    }
    a:hover{
      background-color: $darkGreen;
      color: $white;
    }
  }
}
