{% extends 'front_office/base.html.twig' %}

{% block links %}
{% endblock %}

{% block body %}

  {% include 'front_office/partials/header.html.twig' %}

  <!-- {% include 'front_office/partials/navbar.html.twig' %} -->

  <main>
    {% block main %}{% endblock %}
  </main>

  {% include 'front_office/partials/footer.html.twig' %}


{% endblock %}
