{% extends 'front_office/layout.html.twig' %}

{% block main %}

  <div class="container">
    <div class="row">
      <div class="col">
        {% include 'front_office/partials/flash-messages.html.twig' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-2 app-login">
        <h1 class="border-bottom">Sign in</h1>
        {% include 'front_office/forms/login-form.html.twig' %}
        <div class="links text-center">
          <a href="{{ path('fo_registration') }}">Register new account</a> |
          <a href="{{ path('fo_password_reminder') }}">Lost password</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
