{% extends '@fo/layout.html.twig' %}

{% block links %}
  {{ encore_entry_link_tags('accounting', null, 'front_office') }}
{% endblock %}

{% block main %}

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-2 app-login">
        <h1 class="border-bottom">Sign in</h1>
        {% include '@fo/forms/login-form.html.twig' %}
        <div class="links text-center">
          <a href="{{ path('registration') }}">Register new account</a> |
          <a href="{{ path('passwordReminder') }}">Lost password</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('accounting', null, 'front_office') }}
{% endblock %}