{% extends 'front_office/layout.html.twig' %}

{% block links %}
  {{ encore_entry_link_tags('accounting', null, 'front_office') }}
{% endblock %}

{% block main %}

  <div class="container">
    <div class="row">
      <div class="col">
        {% include 'front_office/partials/flash-messages.html.twig' %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="border-bottom">Lost password?</h1>
        {% include 'front_office/forms/password-reminder-form.html.twig' %}
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('accounting', null, 'front_office') }}
{% endblock %}