{% extends '@fo/layout.html.twig' %}

{% block links %}
  {{ encore_entry_link_tags('accounting', null, 'front_office') }}
{% endblock %}

{% block main %}
  <hr class="sep-header">
  <h1 class="pop-sBold panier_title">Mot de passe perdu</h1>

  <section class="formTheme pop">
    {% include '@fo/forms/password-reminder-form.html.twig' %}
  </section>

{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('accounting', null, 'front_office') }}
{% endblock %}