{% extends '@fo/layout.html.twig' %}

{% block links %}
  {{ encore_entry_link_tags('accounting', null, 'front_office') }}
{% endblock %}

{% block main %}

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="border-bottom">Sign up</h1>
        {% include '@fo/forms/registration-form.html.twig' %}
      </div>
    </div>
  </div>

  <div class="app-call" data-method="initRegistrationForm">
  </div>

{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('accounting', null, 'front_office') }}
{% endblock %}