// front office form theme

@import '#core/ecsFormTheme';
@import 'app.scss';
@import "./components/form.scss";
@import "./components/login.scss";

.panier_title{
  margin-left: 32px;
  margin-bottom: 32px;
  font-size: 2.5rem;
  color: $darkGrey;
  @media screen and (max-width: 500px) {
    margin-left: 16px;
  }
}

.continueWhite{
  font-size: 1.2rem;
  margin: 8px 0;
  padding: 16px 16px;
  width: 200px;
  text-align: center;
  border: 2px solid $darkGrey;
}

.continueWhite:hover {
  background: $darkGreen;
  color: white;
  border: 2px $darkGrey solid;
  transition: .4s ease;
}

.adressUpdate{
  font-size: 1rem;
  padding: 0 128px;
  @media screen and (max-width: 1024px) {
    padding: 0 64px;
  }
  @media screen and (max-width: 700px) {
    padding: 0 32px;
  }
  @media screen and (max-width: 500px) {
    padding: 0 16px;
  }
  .add_adressUpdate div{
    margin: 32px auto;
    font-size: 1.2rem;
    .add_compte{
      padding: 16px 64px;
      @media screen and (max-width: 500px) {
        padding: 16px 32px;
      }
      border: 2px solid $darkGreen;
    }
    .add_compte:hover {
      background: $darkGreen;
      color: white;
      border: 2px $darkGrey solid;
      transition: .4s ease;
    }
    .continue{
      color: white;
      padding: 16px 64px;
      background: $darkGreen;
    }
  }
}

.adressUpdate{
  font-size: 1.5rem;
  color: $darkGrey;
  @media screen and (min-width: 1500px) {
    .nameAndFirst{
      @include centerBetween;
      .form_item{
        width: 50%;
      }
      .secondItem{
        label{
          min-width:25%
        }
      }
    }
  }
  .form_item{
    @include flexEnd;
    padding: 16px 0;
  }
  label{
    display: block;
    min-width: 350px;
    text-align: right;
    margin-right: 32px;
  }
  input{
    width: 100%;
    height: 32px;
  }
  input::placeholder{
    color: transparent;
    padding-left: 16px;
  }
  @media screen and (max-width: 1024px) {
    label{
      text-align: left;
    }
  }
  @media screen and (max-width: 800px) {
    font-size: 1.25rem;
    label{
      min-width:250px;
    }
  }
  @media screen and (max-width: 600px) {
    font-size: 1rem;
    label{
      min-width:200px;
    }
  }
  @media screen and (max-width: 500px) {
    label{
      display: none;
    }
    input::placeholder{
      color: $darkGrey;
      padding-left: 16px;
    }
  }
  .add_adressUpdate div{
    margin: 32px auto;
    font-size: 1.2rem !important;
    .buttonSub{
      font-size: 1.2rem;
      color: $darkGrey;
    }
    .add_adress{
      padding: 16px 64px;
      @media screen and (max-width: 500px) {
        padding: 16px 32px;
      }
      border: 2px solid $darkGreen;
    }
    .add_adress:hover {
      background: $darkGreen;
      color: white;
      border: 2px $darkGrey solid;
      transition: .4s ease;
    }

  }
}

.formTheme{
  font-size: 1.5rem;
  padding: 0 128px;
  @media screen and (max-width: 1024px) {
    padding: 0 64px;
  }
  @media screen and (max-width: 700px) {
    padding: 0 32px;
  }
  @media screen and (max-width: 500px) {
    padding: 0 16px;
  }
  color: $darkGrey;
  .form_item{
    @include flexEnd;
    padding: 16px 0;
  }
  label{
    display: block;
    min-width: 350px;
    text-align: right;
    margin-right: 32px;
  }
  .errorInput{
    width: 100%;
  }
  .form-control{
    .is-invalid{
      padding-right: unset !important;
    }
  }
  input{
    height: 32px;
  }
  input::placeholder{
    color: transparent;
    padding-left: 16px;
  }
  .formCheckbox{
    .form-check{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 16px 0;
      input{
        width: 32px;
      }
      @media screen and (max-width: 500px) {
        label{
          display: block;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    label{
      text-align: left;
    }
  }
  @media screen and (max-width: 800px) {
    font-size: 1.25rem;
    label{
      min-width:250px;
    }
  }
  @media screen and (max-width: 600px) {
    font-size: 1rem;
    label{
      min-width:200px;
    }
    .form-check{
      label{
        padding-top: 4px;
      }
      input{
        width: 24px !important;
      }
    }
  }
  @media screen and (max-width: 500px) {
    label{
      display: none;
    }
    input::placeholder{
      color: $darkGrey;
      padding-left: 16px;
    }
  }
  .continueSubmit{
    margin: 32px 0 0 0 !important;
    .continue{
      font-size: 1.2rem;
      color: white;
      padding: 16px 64px;
      background: $darkGreen;
      @media screen and (max-width: 500px) {
        padding: 16px 16px;
      }
    }
  }
}

.login_links{
  padding: 32px 0;
  margin-top:32px;
  @include centerAround;
  @media screen and (max-width: 600px) {
    @include fullCenter;
  }
  .link{
    @media screen and (max-width: 600px) {
      margin: 16px 0;
    }
    font-size: 1.2rem;
    color: white;
    padding: 16px 64px;
    background: $darkGreen;
    @media screen and (max-width: 500px) {
      padding: 16px 16px;
    }
  }
}

.helpMessage{
  font-size: 0.9rem;
}

.admin{
  min-height: 100vh;
  h1{
    color: $darkGreen;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  label{
    min-width: 350px;
    text-align: left !important;
  }
  .continueSubmit{
    margin-bottom: 2rem !important;
  }
}

.container-account{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  .adressList{
    margin-bottom: 5rem !important;
    .bottomMarg{
      margin-bottom: 32px;
    }
    .blockAddress{
      @media screen and (min-width: 768px) {
        @include flexStart;
        align-items: center;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 64px;
      }
    }
    .fullcenter_mob{
      @media screen and (max-width: 768px) {
        @include fullCenter;
        align-items: flex-start;
      }
    }
    .bottomMob{
      @media screen and (max-width: 768px) {
        margin-bottom: 32px;
      }
    }
    .a_adressList{
      margin-left: 2rem;
      @media screen and (max-width: 768px) {
        margin-left: 0rem;
      }
    }
  }
  .showAddAddress{
    margin-top: 5rem;
  }
  .container-info{
    @media (max-width: 767px){
      width: 100%;
    }
    @media (min-width: 768px){
      width: 60%;
    }
    padding: 30px;
    h1{
      color: $darkGreen;
      font-size: 2rem;
      margin-bottom: 15px;
    }
    .btn-contain{
      margin: 15px 0;
      display:flex;
      justify-content: flex-start;
      @media (max-width: 700px){
        @include fullCenter;
        align-items: flex-start;
      }
    }
    .content-account{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      p{
        color: $dark;
        font-size: 1.2rem;
        width: 50%;
        margin: 10px 0;
      }
    }
    a{
      font-size: 1.2rem;
      margin-right: 20px;
      padding: 16px 32px;
      @media (max-width: 350px){
        padding: 16px 16px;
      }
      border: 2px solid $darkGreen;
    }
    a:hover{
      background-color: $darkGreen;
      color: $white;
    }
  }
}

@media (max-width: 1024px) {
  .debugUpdate {
    .debugCheck {
      input {
        margin-left: 50px;
      }
    }
  }
}