@import "./partials/reset.scss";
@import "./partials/_variables.scss";
@import "./partials/_font.scss";
@import "./partials/common.scss";
@import "./partials/layout.scss";

main {
  position: relative;
  width: 100%;
  height: 100%;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color: $darkGrey;
  cursor: pointer;
}

button{
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background: transparent;
  cursor: pointer;
}

.headerMob{
  z-index:1000;
}

.cont{
  padding:0 70px;
  position: relative;
}

.sep-header{
  width:80%;
  height: .5px;
  background: $darkGreen;
  margin: 16px auto 32px auto;
}

.btn-back{
  color:$dark;
  position: relative;
  display: inline-block;
  left: 5%;

  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height:2px;
    width:0;
    background: $darkGreen;
    transition:width .5s ease-in-out;
  }

  &:hover::after{
    transition:width .5s ease-in-out;
    width:100%;
  }
}

.top-page{
  width:100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  div:nth-child(2){
    width:70%;

    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.green-top-page{
  width:30%;
  background:$lightGreen;
  padding: 70px;

  h1{
    color:$darkGreen;
    font-size:$f77;
    padding-bottom: 10px;
    border-bottom:solid 2px;
    margin-bottom: 15px;
  }

  p{
    font-size: $f40;
    line-height: $inter80;
    color:$darkGreen;
  }
}

/*Suggestions de produits*/
.title-suggest{
  margin-top: 75px;
  color: $darkGrey;
  margin-left: 70px;
  font-size:$f40;
}

.cont-item{
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 200px;

  div{
    height:360px;
    width:280px;

    .cont-item-img{
      width: 280px;
      height: 280px;
      overflow: hidden;

      a{
        height:100%;
        width:100%;
        margin-bottom: 20px;

        img{
          object-fit: cover;
          height: 100%;
          width: 100%;
          transform: scale(1);
          transition: all .5s ease-in-out;
        }

        &:hover{
          img{
            transform: scale(1.2);
            transition: all .5s ease-in-out;
          }
        }
      }
    }

    p{
      margin-top: 15px;
      font-size: 25px;
      z-index:100;
      color: $darkGrey;
    }
  }
}

@media screen and (max-width:1025px){
  .cont-item-img{
    margin-bottom: 30px;
  }
}

@media screen and (max-width:1500px){
  .green-top-page{
    h1{
      font-size:3.5rem;
    }
    p{
      font-size: 30px;
    }
  }
}

@media screen and (max-width:1025px){
  .top-page{
    flex-direction: column;

    .green-top-page {
      padding: 70px 0;

      h1{
        border-bottom: none !important;
        padding:0 30px;
      }

      p{
        padding:0 30px;
      }
    }
    div{
      width:100% !important;
    }
  }
}