@import "./partials/reset.scss";
@import "./partials/_variables.scss";
@import "./partials/_font.scss";
@import "./partials/common.scss";
@import "./partials/layout.scss";

main {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow:1;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color: $darkGrey;
  cursor: pointer;
}

button{
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background: transparent;
  cursor: pointer;
}

.headerMob{
  z-index:1000;
}

.cont{
  padding:0 70px;
  position: relative;
}

.sep-header{
  width:80%;
  height: .5px;
  background: $darkGreen;
  margin: 16px auto 32px auto;
}

.btn-back{
  color:$dark;
  position: relative;
  display: inline-block;
  left: 5%;

  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height:2px;
    width:0;
    background: $darkGreen;
    transition:width .5s ease-in-out;
  }

  &:hover::after{
    transition:width .5s ease-in-out;
    width:100%;
  }
}

.top-page{
  width:100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  div:nth-child(2){
    width:70%;

    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.green-top-page{
  width:30%;
  background:$lightGreen;
  padding: 70px;

  h1{
    color:$darkGreen;
    font-size:$f77;
    padding-bottom: 10px;
    border-bottom:solid 2px;
    margin-bottom: 15px;
  }

  p{
    font-size: $f40;
    line-height: $inter80;
    color:$darkGreen;
  }
}

/*Btn général*/
.btn{
  border: solid 1px $darkGreen;
  width: 200px;
  color:$darkGreen;
  font-size:20px;
  text-align: center;
  padding:15px 20px;
  transition: all .35s linear;

  &:hover{
    background: $darkGreen;
    color:$white;
    transition: all .35s linear;
  }
}

/*Suggestions de produits*/
.title-suggest{
  margin-top: 75px;
  color: $darkGrey;
  margin-left: 70px;
  font-size:$f40;
}

.cont-item{
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 200px;

  div{
    height:360px;
    width:280px;

    .cont-item-img{
      width: 280px;
      height: 280px;
      overflow: hidden;

      a{
        height:100%;
        width:100%;
        margin-bottom: 20px;

        img{
          object-fit: cover;
          height: 100%;
          width: 100%;
          transform: scale(1);
          transition: all .5s ease-in-out;
        }

        &:hover{
          img{
            transform: scale(1.2);
            transition: all .5s ease-in-out;
          }
        }
      }
    }

    p{
      margin-top: 15px;
      font-size: 25px;
      z-index:100;
      color: $darkGrey;
    }
  }
}

/*PopUp connection*/
.pop-up-connection{
  position: absolute;
  width:300px;
  background: $white;
  border-radius: 25px;
  top: 70px;
  right: 40px;
  z-index:9999;
  box-shadow: 5px 5px 20px rgba(0,0,0,.4);
  display: none;

  &:before{
    content:'';
    position: absolute;
    left: 60%;
    transform: translateX(-50%) rotate(45deg);
    top: -10px;
    background: $white;
    height: 20px;
    width: 20px;
  }

  h2{
    color:$darkGreen;
    text-align: center;
    margin-top: 25px;
    font-size: 25px;
  }

  form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    input:nth-child(1), input:nth-child(2){
      padding:10px 0;
      border: solid 1px $darkGreen;
      margin-bottom: 15px;
      width: 80%;
      margin-left: 10%;

      &::placeholder{
        padding-left: 10px;
        color:$darkGreen;
      }
    }

    input:last-child{
      cursor: pointer;
      height: 75px;
      background: $darkGreen;
      color: $white;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      border: none;
      transition: all .5s ease-in-out;

      &:hover{
        background:#435E36;
        transition: all .5s ease-in-out;
      }
    }

    a{
      color: $darkGreen;
      margin-left: 5%;
      font-size:13px;
      margin-bottom: 15px;
    }
  }
}

.showPop{
  display: block;
}

@media screen and (max-width:1025px){
  .cont-item-img{
    margin-bottom: 30px;
  }
}

@media screen and (max-width:1500px){
  .green-top-page{
    h1{
      font-size:3.5rem;
    }
    p{
      font-size: 30px;
    }
  }
}

@media screen and (max-width:1025px){
  .top-page{
    flex-direction: column;

    .green-top-page {
      padding: 70px 0;

      h1{
        border-bottom: none !important;
        padding:0 30px;
      }

      p{
        padding:0 30px;
      }
    }
    div{
      width:100% !important;
    }
  }
}