@import "./partials/reset.scss";
@import "./partials/_variables.scss";
@import "./partials/_font.scss";
@import "./partials/common.scss";
@import "./partials/layout.scss";

a{
  text-decoration: none;
  color: $darkGrey;
}

button{
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background: transparent;
}

.headerMob{
  z-index:1000;
}

.cont{
  padding:0 70px;
  position: relative;
}

.sep-header{
  width:80%;
  height: .5px;
  background: $darkGreen;
  margin: 32px 0 32px 10%;
}

.btn-back{
  color:$dark;
  position: relative;
  display: inline-block;

  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height:2px;
    width:0;
    background: $darkGreen;
    transition:width .5s ease-in-out;
  }

  &:hover::after{
    transition:width .5s ease-in-out;
    width:100%;
  }
}

.green-top-page{
  width:30%;
  height: 100%;
  background:$lightGreen;
  padding: 70px;

  h1{
    color:$darkGreen;
    font-size:$f77;
    padding-bottom: 10px;
    border-bottom:solid 2px;
    margin-bottom: 15px;
  }

  p{
    font-size: $f40;
    line-height: $inter80;
    color:$darkGreen;
  }
}