@import 'app.scss';

.top-page{
  margin-bottom:75px !important;

  h1{
    padding-right: 60px;
  }
}

.search-diy{
  padding-left: 40px;
  margin-bottom: 40px;

  input[type=submit] {
    opacity: 0;
    color:$darkGreen;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    transition: all .5s linear;
    margin-left: -55px;
  }

  input[type=text]{
    border: none;
    border-bottom: solid 1px $dark !important;
    width: 350px;
    transition: width .5s linear;
    color: $dark;

    &::placeholder {
      color: $dark;
    }

    &:focus {
      outline-color: transparent !important;
      transition: width .5s linear;
      width: 450px;
    }
  }
}

.btn-voir-plus{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top:-120px;
}

.showBtn{
  opacity: 1 !important;
  transition: all .5s linear;
}

@media screen and(max-width: 425px){
  .search-diy{

    input[type=text]{
      width: 200px;

      &:focus{
        width: 250px;
      }
    }
  }
}