@import 'app.scss';

main{
  #entreprise, #zerodechet{
    background: $lightGrey;
    article{
      padding: 0 0 0 $basicPadding;
      h2{
        color: $darkGreen;
        font-size: 5rem;
        width: 80%;
        padding: 0 0 16px 0;
        border-bottom: 1px solid black ;
      }
      p{
        font-size: 2rem;
        width: 70%;
      }
      button{
        margin-top: 32px;
        padding: 24px 64px;
        font-size: 1.2rem;
        border: solid 4px $darkGreen;
      }
    }
    div{
      img{
        width: 100%;
      }
    }


    @media screen and (max-width: 1400px) {
      article{
        h2{
          font-size: 4rem;
          width: 80%;
          padding: 0 0 8px 0;
        }
        p{
          font-size: 1.5rem;
          width: 70%;
        }
        button{
          margin-top: 16px;
        }
      }
    }

    @media screen and (max-width: 1170px) {
      article{
        h2{
          font-size: 3rem;
          width: 90%;
        }
        button{
          padding: 16px 48px;
          font-size: 1rem;
        }
      }
    }

    @media screen and (max-width: 1000px) {
      article{
        h2{
          font-size: 2.5rem;
          width: 80%;
        }
        p{
          font-size: 1.2rem;
          width: 80%;
        }
      }
    }

    @media screen and (max-width: 800px) {
      article{
        h2{
          font-size: 2rem;
          width: 80%;
        }
        p{
          font-size: 1rem;
          width: 70%;
        }
      }
    }

    @media screen and (max-width: 700px) {
      div{
        display: none;
      }
      article{
        color: $lightGrey;
        max-width: 100%;
        h2{
          font-size: 4rem;
          width: 80%;
          padding: 16px 0 16px 0;
          color: $lightGrey;
          border-bottom: 2px solid lightgrey ;
        }
        p{
          font-size: 1.5rem;
          width: 60%;
        }
        button{
          margin: 32px 0px;
          color: $lightGrey;
          border-color: $lightGrey;
        }
      }
    }

    @media screen and (max-width: 400px) {
      article{
        h2{
          font-size: 3rem;
        }
        p{
          font-size: 1.5rem;
          width: 70%;
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    #entreprise{
      background-image:
              linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url("../img/entreprise.jpg");
      background-size: cover;
    }

    #zerodechet{
      background-image:
              linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url("../img/dechet.jpg");
      background-size: cover;
    }
  }

  #produit, #recette{
    $align: 80%;

    margin-top: 2rem;
    article{
      img{
        width: $align;
      }
      h3{
        font-size: 2rem;
        text-align: left;
        width: $align;
      }
    }
    .produit_space{
      width: 80%;
      @include center;
      .itemsList{
        @include center;
        article{
          padding: 32px 0;
        }
      }
    }
    p{
      font-size: 2.5rem;
      margin: 2rem;
    }
    button{
      margin-top: 64px;
      padding: 16px 48px;
      font-size: 1.2rem;
      border: solid 4px $darkGreen;
    }

    @media screen and (max-width: 1024px) {
      .produit_space{
        @include center;
        .itemsList{
          @include fullCenter;
        }
      }
    }

    @media screen and (max-width: 700px) {
      $align: 60%;
      .produit_space{
        @include fullCenter;
        .itemsList{
          @include fullCenter;
        }
      }
      article{
        img{
          width: $align;
        }
        h3{
          width: $align;
        }
      }
    }
  }
  #pro_parti {
    margin-top: 2rem;
    color: $lightGrey;
    article {
      padding: 64px $basicPadding*6;

      h4 {
        font-size: 3rem;
        font-weight: bold;
      }

      p {
        font-size: 2.5rem;
        text-align: center;
      }

      button {
        margin-top: 64px;
        padding: 16px 48px;
        font-size: 2rem;
        color: $lightGrey;
        border: solid 4px $lightGrey;
      }
    }

    #pro {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../img/pro.jpg");
      background-size: cover;
    }

    #parti {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../img/parti.jpg");
      background-size: cover;
    }

    /* Desktop */
    @media screen and (max-width: 1300px) {
      article {
        padding: 64px $basicPadding*4;
      }
    }

    @media screen and (max-width: 1050px) {
      article {
        padding: 64px $basicPadding*2;
      }
    }
    /* Fin Desktop */

    @media screen and (max-width: 1024px) {
      article {
        h4 {
          font-size: 2rem;
        }

        p {
          font-size: 1.5rem;
        }

        button {
          font-size: 1rem;
        }
      }
    }
    @media screen and (min-width: 700.1px) {
      @include centerBetween;
    }

    @media screen and (max-width: 700px) {
      @include fullCenter;
      article {
        max-width: 100%;

        h4 {
          font-size: 3rem;
        }

        p {
          font-size: 2.5rem;
        }

        button {
          margin-top: 64px;
          padding: 16px 48px;
          font-size: 2rem;
        }
      }
    }

    @media screen and (max-width: 450px) {
      article {
        padding: 64px 32px;

        h4 {
          font-size: 2.5rem;
        }

        p {
          font-size: 2rem;
        }

        button {
          font-size: 1.5rem;
        }
      }
    }
  }
}
